# Emi-s-Art-Studio
Emi's Art Studio
body {
    font-family: sans-serif;
    text-align: center;
    color: #918674;
}
h1 {
    color: #918674;
    font-size: 10vw;
}
.hero {
    background-image: url('carmen-alarcon-tpH5er39OHk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav ul {
